body {
  background: #ddd;
}

.card {
  margin: auto;
  width: 70%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: transparent
}

.summary {
  background-color: #ddd;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
}

@media (max-width: 1200px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem
  }
}


.row {
  margin: 0
}

img {
  width: 10rem
}

hr {
  margin-top: 1.25rem
}

.app{
  width: 100%;

}

